html,
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
}

.line-break {
  width: 25px;
  height: 3px;
  border-radius: 25%;
  background-color: black;
}

.text-hotpink {
  color: hotpink;
}

.shape {
  position: absolute;
  height: 100%;
  width: 700px;
  bottom: 0;
  border-radius: 10% 150% 150% 20% / 10% 150% 150% 20%;
  box-shadow: 0 0 20px #000000;
  z-index: 1;
}

.shape-left {
  left: -2%;
  background: linear-gradient(
    45deg,
    rgb(255, 0, 0) 0%,
    rgba(255, 105, 180, 0.808) 100%
  );
  animation: shape-left 5s ease-in-out infinite;
}

.shape-right {
  right: -2%;
  background: linear-gradient(0deg, red 0%, rgba(255, 105, 180, 0.836) 100%);
  animation: shape-right 5s ease-in-out infinite;
  transform: rotateY(180deg) !important;
}

.top-menu {
  z-index: 3;
  position: relative;
}

.hero-container {
  position: relative;
  z-index: 2;
}

@keyframes shape-left {
  0% {
    border-radius: 10% 100% 200% 20% / 10% 150% 200% 20%;
    background-size: 100% 100%;
  }
  50% {
    border-radius: 10% 170% 120% 20% / 10% 140% 230% 20%;
    background-size: 150% 300%;
  }
  100% {
    border-radius: 10% 100% 200% 20% / 10% 150% 200% 20%;
    background-size: 100% 100%;
  }
}

@keyframes shape-right {
  0% {
    border-radius: 10% 170% 120% 20% / 10% 140% 230% 20%;
    background-size: 100% 100%;
  }
  50% {
    border-radius: 30% 120% 220% 40% / 20% 170% 220% 50%;
    background-size: 150% 300%;
  }
  100% {
    border-radius: 10% 170% 120% 20% / 10% 140% 230% 20%;
    background-size: 100% 100%;
  }
}

#addToCartOffcanvas, #addToWishlistOffcanvas {
  width: 800px;
}

.double-image {
  position: relative;
  min-height: 440px;
  width: auto;
}

.double-image div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.double-image div:first-child {
  width: 300px;
}
.double-image div:last-child {
  width: 500px;
  top: 48px;
  left: -400px;
  z-index: 1;
}
.banner,
.double-image div {
  box-shadow: -10px 10px 20px 5px rgba(0, 0, 0, 0.308);
}

.sale {
  left: -10px;
  top: -7px;
}

.carousel-caption {
  left: 0;
  right: 0;
}

.carousel-text {
  text-align: left;
  font-weight: 400;
}

.carousel-title {
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-btn a {
  font-size: 25px !important;
  padding: 4px !important;
  color: #ffffff !important;
}
.social-links a {
  font-size: 40px;
  margin: 2px 8px;
  color: rgba(8, 7, 7, 0.973);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16'%3e%3cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3e%3c/svg%3e");
}

.carousel-light {
  filter: invert(100%);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left-circle-fill' viewBox='0 0 16 16'%3e%3cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3e%3c/svg%3e");
}

#card-image {
  background-image: url(../assets/img/product/men-tshirt3.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#card-image:hover {
  background-image: url(../assets/img/product/men-tshirt2.jpg);
}

.btn-hover-hotpink {
  transition: all 0.5s ease-in-out !important;
}

.btn-hover-hotpink:hover {
  transform: translateY(-4px);
  background-color: hotpink !important;
  color: white !important;
  border-color: none;
}

.link-hover-hotpink,
.link-hover-light,
.link-hover-dark {
  transition: all 0.4s ease-in-out;
}

.link-hover-hotpink:hover {
  color: hotpink !important;
  transform: translateY(-4px);
}

.link-hover-light:hover {
  color: white !important;
  transform: translateY(-4px);
}

.link-hover-dark:hover {
  color: #000000 !important;
  transform: translateY(-4px);
}

.btn-hover-dark {
  transition: all 0.4s ease-in-out;
}

.btn-hover-dark:hover {
  transform: translateY(-4px);
  background-color: black !important;
  color: white !important;
}

.btn-hover-light {
  transition: 0.4s ease-in-out;
}

.btn-hover-light:hover {
  transform: translateY(-4px);
  background-color: white !important;
  color: black !important;
}

a.hover-effect,
a.hover-effect > div,
div.hover-effect {
  box-shadow: inset 0 0 0 0 black;
  color: black;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-effect:hover,
.hover-effect:hover,
.hover-effect:hover > div {
  color: white;
  box-shadow: inset 400px 0 0 0 black;
}

.hero-image {
  cursor: pointer;
  transition: all 0.4s ease;
  max-width: 300px;
}

.hero-image:hover {
  max-width: 400px;
}

.important {
  color: white;
}

.shop-now {
  background-color: hotpink;
  color: white;
}

.item-desc {
  border-radius: 20px;
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}

.btn-indicator {
  margin: 0;
  padding: 0;
  width: 12px !important;
  height: 12px !important;
}

.item-desc:nth-child(even) {
  background-color: hotpink;
  color: white;
}

input[type="search"],
.search {
  width: 100px !important;
  transition: all 0.4s ease-in-out;
}

input[type="search"]:focus,
.search:focus {
  width: 25% !important;
}

.hero {
  background-image: url(../assets/img/product/background.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-header {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.link {
  position: relative;
  display: inline;
}

.footer > div > div:first-child a {
  font-size: 1.5em;
  margin-right: 15px;
}

.footer > div > div a {
  color: white;
  text-decoration: none;
}

.footer-item {
  list-style: none;
  font-size: 10px;
}

.footer-nav {
  margin: 0;
  padding: 0;
}

/*Hoverable Dropdown*/

.dropdown {
  position: static;
}

#offcanvasSearch .btn-close {
  filter: invert(100%);
}

/*CSS style for product page*/
.section-product .single-product .part1 {
  width: 100%;
  height: 440px;
  position: relative !important;
  overflow: hidden;
}

.section-product .single-product i {
  color: #444444;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.section-product .single-product i:hover {
  color: #fe302f;
}

.section-product .single-product .part1 nav {
  position: absolute;
  top: 430px;
  bottom: 0;
  left: 10px;
  margin: 20px 12px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.section-product .single-product:hover .part1 nav {
  top: 350px;
  opacity: 1;
}

.section-product .single-product .part1 nav li {
  text-align: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.section-product #product1 .product-image {
  width: 100%;
  height: 100%;
  background: url(../assets/img/product/men-tshirt1.jpg) no-repeat center;
  background-size: cover;
  transition: all 0.5s ease;
}

.section-product #product2 .product-image {
  width: 100%;
  height: 100%;
  background: url(../assets/img/product/men-tshirt2.jpg) no-repeat center;
  background-size: cover;
  transition: all 0.5s ease;
}

.section-product #product3 .product-image {
  width: 100%;
  height: 100%;
  background: url(../assets/img/product/men-tshirt3.jpg) no-repeat center;
  background-size: cover;
  transition: all 0.5s ease;
}

.section-product #product4 .product-image {
  width: 100%;
  height: 100%;
  background: url(../assets/img/product/men-tshirt4.jpg) no-repeat center;
  background-size: cover;
  transition: all 0.5s ease;
}

.section-product .single-product:hover .product-image {
  transform: scale(1.5, 1.5);
}

.section-product .single-product .part1 .discount,
.section-product .single-product .part1 .new {
  position: absolute;
  top: 15px;
  color: #ffffff;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-product .single-product .part1 .discount {
  background-color: #fe302f;
  left: 20px;
}

.section-product .single-product .part1 .new {
  background-color: #444444;
  left: 0;
}

.part2 .product-title {
  font-size: 1rem;
  text-transform: capitalize;
}

.part2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.part2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.part2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

.image-wrapper img {
  height: 300px !important;
}

@media (min-width: 320px) {
  #card-image {
    height: 50vh;
  }
  #slider {
    overflow-x: auto;
  }
}

@media (min-width: 768px) {
  #card-image {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  #card-image {
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  #slider {
    overflow-x: auto;
  }
}
@media (max-width: 768px) {
  .social-links i {
    color: black !important;
  }
  .section-product .single-product .part1 nav {
    top: 350px;
    opacity: 1;
  }
  input[type="search"],
  .search {
    width: 100px !important;
    transition: all 0.4s ease-in-out;
  }

  input[type="search"]:focus,
  .search:focus {
    width: 100% !important;
  }
  .double-image {
    display: none;
  }
}

@media (max-width: 1440px) {
  .double-image div:first-child {
    width: 270px;
    top: 17px;
  }
  .double-image div:last-child {
    width: 400px;
    top: 80px;
    left: -300px;
    z-index: 1;
  }
  .shape {
    width: 600px;
  }
}
@media (max-width: 1024px) {
  .double-image div:first-child {
    width: 188px;
    top: 17px;
  }
  .double-image div:last-child {
    width: 267px;
    top: 80px;
    left: -220px;
    z-index: 1;
  }
  .shape {
    width: 500px;
  }
  .banner {
    top: 11px;
  }
}
@media (max-width: 768px) {
  .shape {
    display: none;
  }
  .important {
    color: hotpink;
  }
}
